// Copyright 2017 Matthew Lean

// Photography // ----------------------------------

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.gutter-sizer {
  width: 1.333%;
}

@media (min-width:1280px) {
  .grid-sizer,
  .grid-item {
    width: 18%;
  }
  #grid{
    margin-left: 55px;
  }
}

@media (max-width:1280px) {
  .grid-sizer,
  .grid-item {
    width: 32%;
  }
}
@media (max-width:768px) {
  .grid-sizer,
  .grid-item {
    width: 49%;
  }
}

.grid-item {
  float: left;
  margin-bottom: 1.333%;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}

div#masongrid {
  padding-top: 1.33%;
  padding-left: 1.333%;
}

figcaption {
  display: none;
}