<!-- Featherlight -->
<script>$('.myElement').img($content, configuration);</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<footer>
	<div class="columns is-multiline site-container">
		<div class="column is-half section">
			<p>© 2018 Matthew Lean</p>
		</div>
		<div class="section-alt column is-half">
			<div class="links">
					 <a title="Email" class="btn btn-default" href="mailto:mttlean@gmail.com">
							 <i class="fa fa-envelope" aria-hidden="true"></i>
					 </a>
					 <a title="Lindedin" class="btn btn-default" href="https://www.linkedin.com/in/m-lean/">
							 <i class="fa fa-linkedin" aria-hidden="true"></i>
					 </a>
					 <a title="GitHub" class="btn btn-default" href="https://github.com/matthewlean">
							 <i class="fa fa-github" aria-hidden="true"></i>
					 </a>
					 <a title="Instagram" class="btn btn-default" href="https://www.instagram.com/matthewlean/">
							 <i class="fa fa-instagram" aria-hidden="true"></i>
					 </a>
					 <a title="Twitter" class="btn btn-default" href="https://twitter.com/matthewLean_">
							 <i class="fa fa-twitter" aria-hidden="true"></i>
					 </a>
					 <a title="Codepen" class="btn btn-default" href="http://codepen.io/matthewlean/">
							 <i class="fa fa-codepen" aria-hidden="true"></i>
					 </a>
			</div>
		</div>
	</div>

</footer>
