<nav class="newnavbar navbar navbar-expand-lg bg-clear">
	<div class="container">

		<a href="/" class="nav-link">

			<svg class="navlogo" alt="Matthew Lean M Logo" xmlns="http://www.w3.org/2000/svg" baseProfile="basic"
				viewBox="0 0 500 500">
				<defs />
				<path fill="#fff"
					d="M251 321l103-104 3-3v254l131-24V55L357 31 250 138 142 31 11 55v389l131 24V213l109 108 92-92 14-15" />
			</svg>


		</a>

		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault" 
			aria-label="Toggle navigation">
			<span class="icon-bar top-bar"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav nav">
				<li class="nav-item">
					<a class="link" href="/blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class="link" href="/photography">Photography</a>
				</li>

			</ul>
		</div>
	</div>
</nav>


<script>
	$(window).scroll(function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 50) {
			$(".newnavbar").addClass("solidnav");
		} else {
			$(".newnavbar").removeClass("solidnav");
		}
	});
</script>