<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#027cf0" />

  <!-- og -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/assets/site-docs/{{ page.img }}" />
  <meta property="og:site_name" content="Matthew Lean - Digital Content Creator">
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Extras -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Bulma -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/site-brand/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/site-brand/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/site-brand/favicon-16x16.png">
  <link rel="manifest" href="/assets/site-brand/manifest.json">
  <link rel="mask-icon" href="/assets/site-brand/safari-pinned-tab.svg" color="#006aee">
  <link rel="shortcut icon" href="/assets/site-brand/favicon.ico">
  <meta name="msapplication-config" content="/assets/site-brand/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Featherlight -->
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.css" type="text/css" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72807916-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-72807916-1');
  </script>

</head>
