<div class="container-fluid">
  <div class="row multisection">

    <div class="col-lg-2 col-md-4 col-xs-12">
      <a data-tilt data-tilt-glare="true" data-tilt-max="7" class="c-logo" href="https://gijsroge.github.io/tilt.js/" title="Tilt.js demo website">
      
    <span>
      <p>Commercial</p>
     
      </span>
  </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-12">
      <a data-tilt data-tilt-glare="true" data-tilt-max="7" class="c-logo image2" href="https://gijsroge.github.io/tilt.js/" title="Tilt.js demo website">
     <i class="far fa-shield-check"></i>
    <span>
      <p>Leisure</p>
      
        </span>
  </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-12">
      <a data-tilt data-tilt-glare="true" data-tilt-max="7" class="c-logo image3" href="https://gijsroge.github.io/tilt.js/" title="Tilt.js demo website">
    <span>
      <p>Patrol</p>
        </span>
  </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-12">
      <a data-tilt data-tilt-glare="true" data-tilt-max="7" class="c-logo image4" href="https://gijsroge.github.io/tilt.js/" title="Tilt.js demo website">
    <span>
      <p>Angling</p>
        </span>
  </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-12">
      <a data-tilt data-tilt-glare="true" data-tilt-max="7" class="c-logo image5" href="https://gijsroge.github.io/tilt.js/" title="Tilt.js demo website">
    <span>
      <p>Dive & Charter</p>
        </span>
  </a>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-12">
      <a data-tilt data-tilt-glare="true" data-tilt-max="7" class="c-logo image6" href="https://gijsroge.github.io/tilt.js/" title="Tilt.js demo website">
    <span>
      <p>Test Boats</p>
        </span>
  </a>
    </div>
  </div>
</div>
