{% assign count = 0 %} {% for post in site.posts %} {% if post.category contains "main" %}
{% assign count = count | plus:1 %}

<div class="splash-60" id="hero-header"
  style="background-image: url({{site.baseurl}}/assets/site-post/{{post.img}}); background-size: cover;position: relative;">

  <a href="{{ post.url }}">

    <div class="splash-video-wrapper">

      <div style="background-image: linear-gradient(to bottom right, #{{post.color-1}}, #{{post.color-2}});"
        class="project-image-gradient"></div>



      <!-- <video class="splash-video" playsinline="" autoplay="" muted="" loop=""
        poster="{{site.baseurl}}/assets/site-post/{{poster.img}}" id="bgvid">
        <source class="splash-video" src="{{site.baseurl}}/assets/site-video/{{post.video}}" type="video/mp4">
      </video> -->

    </div>

    <div class="site-container splash-overlay">
      <div class="header-content-container">
        <div class="splash-headline">
          <div id="main-project">

            <div class="main-project-name">
              <div class="badge wow animate fadeInUp" data-wow-delay=".3s">
                <span style="background-color: #{{post.color-1}};">Recent Project</span>
              </div>
              <div class="wow animate fadeInUp" data-wow-delay=".5s">{{ post.title | escape }}</div>
              <div class="subtitle mt-2 wow animate fadeInUp" data-wow-delay=".7s">
                {{ post.subtitle | escape}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </a>
</div>
{% if count == 1 %}{% break %} {% endif %} {% endif %} {% endfor %}