// Copyright 2017 Matthew Lean

// Header // ----------------------------------

#hero-header{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content-container{
    height: 100%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
.header-content{
  text-align: center;
  padding: 220px 0 136px;
  position: relative;
  z-index: 2;
  width: 100%;
}
.splash {
    position: relative;
    height: calc(100% - 46px);
    min-height: 480px;
    overflow: hidden;
}
.splash-full {
    position: relative;
    height: 100vh;
    min-height: 480px;
    overflow: hidden;
}
.splash-video-wrapper {
    top: 50%;
    left: 50%;
    width: 100vw;
    min-width: 177.77778vh;
    height: 100vh;
    max-height: 200vw;
    min-height: 60vw;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.splash-overlay {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.splash-video {
    width: 100%;
    height: 100%;
    display: block;
}
.splash-headline {
font-weight: 700;
    width: 100%;
    max-width: 570px;
    position: inherit;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
