// Copyright 2017 Matthew Lean

// Header // ----------------------------------

#hero-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.header-content {
    text-align: center;
    padding: 220px 0 136px;
    position: relative;
    z-index: 2;
    width: 100%;
}

.splash {
    position: relative;
    height: calc(100% - 46px);
    min-height: 480px;
    overflow: hidden;
}

.splash-full {
    position: relative;
    height: 100vh;
    min-height: 480px;
    overflow: hidden;
}

.splash-video-wrapper {
    top: 50%;
    left: 50%;
    width: 100vw;
    min-width: 177.77778vh;
    height: 100vh;
    max-height: 200vw;
    min-height: 60vw;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.splash-overlay {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.splash-video {
    width: 100%;
    height: 100%;
    display: block;
}

.splash-headline {
    font-weight: 700;
    width: 100%;
    max-width: 570px;
    position: inherit;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.multisection {
    width: 100vw;
}
.multisection .col-lg-2 {
    padding: 0px;
}
.multisection span p {
    font-size: 1.5rem;
    font-weight: 700;
}

.image2{
    background-image: url(https://media.istockphoto.com/photos/luxury-yacht-travel-woman-enjoying-cruise-onboard-picture-id1057327834?s=2048x2048)!important;
    background-position:center;
  }
  .image3{
      background-image: url(https://media.istockphoto.com/photos/river-police-boat-london-picture-id928388420?s=2048x2048)!important;
      background-position:center;
  }
  .image4{
      background-image: url(https://media.istockphoto.com/photos/sunset-on-the-lake-picture-id538491412?k=6&m=538491412&s=612x612&w=0&h=sp2X_Fysf5NcbGjk_OfNc9TO9uYpzN5qi1v6EQYFtlw=)!important;
      background-position:center;
  }
  .image5{
      background-image: url(https://media.istockphoto.com/photos/scuba-diving-picture-id1011819864?s=2048x2048)!important;
      background-position:center;
  }
  .image6{
      background-image: url(https://media.istockphoto.com/photos/white-motorboat-making-waves-on-blue-water-picture-id171578812?s=2048x2048)!important;
      background-position:center;
  }
  .c-logo:before{
    content: "";
    position:absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(40,40,40,0.65);
    transition: ease background-color 1s;
  }
  .c-logo:hover{
    z-index: 1000;
  }
  .c-logo:hover::before{
    background-color: rgba(40,40,40,0);
  }
  
  .c-logo {
    $size: 300px;
        width: 100%;
      height: 600px;
    background-color: #7e56ff;
    background-image: url(https://media.istockphoto.com/photos/small-fishing-boat-coming-into-a-scottish-harbour-picture-id183245091?s=2048x2048);
    background-position:center;
    background-size: cover;
    box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    transform-style: preserve-3d;
    transform: perspective(500px);
    position: relative;
  
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      box-shadow: 0 20px 70px -10px rgba(black, .7), 0 50px 100px 0 rgba(black, .2);
      z-index: -1;
      transform: translateZ(-20px);
      transition: .5s;
    }
  
    > span {
      display: block;
      transform: translateZ(70px) scale(0.7);
      text-align: center;
      top: 125px;
      position: absolute;
    }
  
    &:hover {
      &:after{
        transform: translateZ(-50px);
      }
    }
  }
  
  .c-button{
    border-radius: 5px;
    background: linear-gradient(to right, #00803b, #004347);
    padding: .5em 1em;
    color: white;
    text-decoration: none;
  }