//Font
$font-primary: "Open Sans", -apple-system, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Colours
$blue: rgb(15,106,234);
$red: rgb(255,58,47);
$yellow: rgb(254,203,22);
$green: rgb(41,203,113);
$light-grey: rgb(236,238,241); // background grey
$dark-grey : rgb(46,51,51); // default font colour

// Font-sizes
$font-size-large: 48px  ;
$font-size-medium: 22px ;
$font-size-small: 0.95rem;
$font-size-tiny: 14px ;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;
