//Font
$font-primary: "Lexend Deca", -apple-system, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace: 'Ubuntu Mono', monospace, sans-serif;

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

// Colours
$white: #fff;
$light-grey: #eceef1; // background grey
$light-light-grey-blue: #f8faff;
$light-grey-blue: #eef2f9;
$dark-grey: #333333; // default font colour
$primary: #2279dc;
$primary-lighter: #90bdff;
$primary-lighter-lighter: #deebfe;
$primary-dark-shade: #005ec8;
$primary-darker-shade: darken($primary-dark-shade, 10%); // Categories
$green: #5cc112;
$green-lighter: #d6efc4;
$yellow: #FFCC00;
$yellow-lighter: #f7ecbf;
$yellow-darnker: #ffc800;
$red: #ff5e5e;
$red-lighter: #ffd7d7;
$blue: #0f6aea;
$blue-lighter: #4d95fb;
$pink: #ff6cf3;
$pink-lighter: #ffdafc;
$grey: #333333;
$grey-lighter: #cccccc;

// Font-sizes
$font-size-large: 48px  ;
$font-size-medium: 22px ;
$font-size-small: 0.95rem;
$font-size-tiny: 14px ;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

p {
    color: #737f8d;
    font-family: $font-primary;
    letter-spacing: .01em;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.7;
    margin: 0 auto
}
h1 {
    font-family: $font-primary;
    font-size: 3.5rem;
    line-height: 1.15;
    font-weight: 600;
    color: #333333;
    margin: 0 auto;
}
h2 {
    font-family: $font-primary;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
    color: #333333;
}
h3 {
  font-family: $font-primary;
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 600;
  color: #333333;
  margin: 0 auto;
}
h4 {
  font-family: $font-primary;
  font-size: 1.5rem;
  line-height: 1.15;
  font-weight: 600;
  color: #036aed;
  margin: 0 auto;
}
a{
 color:$blue;
}
p a:link, p a:visited{
 border-bottom: 2px solid #0f6aea;
 transition: 0.3s ease;
}
p a:link:hover,p a:visited:hover{
 border-bottom: 2px solid #000;
 color: #000;
 transition: 0.3s ease;
}
