<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="page-wrapper">
{% include header-main.html %}

<div class="site-container m-top-minus-150">
  <div class="primary">
  	<div class="main-title">
  		<h3>Projects</h3>
  		<p>Website Design</p>
  	</div>
  	<div class="projects">
			{% assign count = 0 %} {% for post in site.posts %} {% if post.category contains "post" %} {% assign count = count | plus:1 %}
			<div class="project">
				<a href="{{ post.url }}">
				<div class="project-image" style="background-image: url({{site.baseurl}}/assets/site-post/{{post.img}});background-size: cover;">
					<div style="background-image: linear-gradient(to bottom right, #{{ post.color-1 | escape }}, #{{ post.color-2 | escape }});" class="project-image-gradient"></div>
					<div class="project-name">
						<!-- <div class="badge">
							<span>Recent Project</span>
						</div> -->
						{{ post.title | escape }}</div>
				</div>
				<div class="project-description">
					<h3 class="category">{{ post.title | escape }}</h3>
					<p class="date">{{ post.date | date_to_long_string }}</p>
					<p class="description">{{ post.description | escape }}</p>
				</div>
				</a>
			</div>
			{% if count == 15 %}{% break %} {% endif %} {% endif %} {% endfor %}
		</div>
  </div>
</div>

      <!--build:js js/main.min.js -->
      <script src="js/lib/a-library.js"></script>
      <script src="js/lib/another-library.js"></script>
      <script src="js/main.js"></script>
      <!-- endbuild -->

</div>
{% include footer.html %}

</body>

</html>
