<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	<div class="page-wrapper">


		{% include header-main.html %}

		{% include main-banner.html %}

		<div class="jumbotron jumbotron-fluid bg-light intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-3">
						<img alt="Matthew Lean" id="avatar" src="/assets/site-brand/matthew-lean.jpg">
					</div>
					<div class="col-lg-10 col-md-9 py-2">
						<h1>Matthew Lean</h1>
						<h2>Digital Designer</h2>
						<p><i class="fas fa-map-marker-alt"></i> Bournemouth</p>
						<p>Feel free to check out my recent projects below or view my <a class="bio"
								href="/blog/">blog</a> for all my projects and work. </p>
						<p>If you're interested, like what you see or have any questions <a class="bio"
								href="mailto:mttlean@gmail.com">contact me </a>.</p>
						<div class="social-icons">
							<ul>
								<li class="instagram">
									<a href="https://www.instagram.com/matthewlean/" target="_blank">
										<i class="fab fa-2x fa-instagram"></i>
									</a>
								</li>
								<li class="spotify">
									<a href="https://open.spotify.com/user/matthewlean?si=cR-uYdWyR6G4q_haKRSsdw"
										target="_blank">
										<i class="fab fa-2x fa-spotify"></i>
									</a>
								</li>
								<li class="dribbble">
									<a href="https://dribbble.com/matthewlean">
										<i class="fab fa-2x fa-dribbble"></i>
									</a>
								</li>
								<li class="linkedin">
									<a href="https://www.linkedin.com/in/m-lean/" target="_blank">
										<i class="fab fa-2x fa-linkedin-in"></i>
									</a>
								</li>
								<li class="github">
									<a href="https://github.com/matthewlean" target="_blank">
										<i class="fab fa-2x fa-github"></i>
									</a>
								</li>
								<li class="twitter">
									<a href="https://twitter.com/matthewLean_" target="_blank">
										<i class="fab fa-2x fa-twitter" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="fluid-container pb-4">

			<div class="slider">
				{% assign count = 0 %} {% for post in site.posts %} {% if post.category contains "featured" %}
				{% assign count = count | plus:1 %}
				<div class="slider-item">
					<div class="project">
						<a href="{{ post.url }}">
							<div class="project-image"
								style="background-image: url({{site.baseurl}}/assets/site-post/{{post.img}});">
								<div style="background-image: linear-gradient(to bottom right, #{{ post.color-1 | escape }}, #{{ post.color-2 | escape }});"
									class="project-image-gradient"></div>

								<div class="project-name">
									{{ post.title | escape }}
									<div class="badge mt-2">
										<span
											style="background-color: #{{post.color-1}};">{{ post.category-type }}</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				{% if count == 10 %}{% break %} {% endif %} {% endif %} {% endfor %}
			</div>
		</div>

		<script type="text/javascript">
			const slider = tns({
				container: '.slider',
				gutter:20,
				loop: true,
				items: 1,
				slideBy: 1,
				nav: false,
				arrowKeys: true,
				autoplay: true,
				speed: 400,
				autoplayButtonOutput: false,
				mouseDrag: true,
				lazyload: true,
				controls: false,
				responsive: {
					320: {
						items: 1,
						center: true,
						edgePadding: 20,
					},

					550: {
						items: 1,
						center: true,
						edgePadding: 50,
					},

					768: {
						items: 1,
						center: true,
						edgePadding: 200,
					},

					1020: {
						items: 2,
						center: true,
						edgePadding: 100,
					},

					1280: {
						items: 3,
						center: true,
						edgePadding: 100,
					},

					1700: {
						items: 5,
						center: true,
						edgePadding: 100,
					},

					2140: {
						items: 6,
						center: true,
						edgePadding: 100,
					},
				}
			});
		</script>

		<div class="js-parallax parallax content-centered">

			<img src="/assets/photography/sunrise-coast.jpg" alt="sunrise coast">

			<a href="/photography">
				<div class="parallax__content ">
					<div class="project-name">
						<h3 class="text-white">Photography</h3>
					</div>
				</div>
			</a>
		</div>

		<script type="text/javascript">
			// make a controller and add indicators to all scenes attached
			var controller = new ScrollMagic.Controller({
				addIndicators: true
			});

			var controller = new ScrollMagic.Controller();

			$('.js-parallax').each(function () {
				var tween = TweenMax.to('.js-parallax img', .3, {
					y: '-60%',
					ease: Linear.easeNone,
				});

				var scene = new ScrollMagic.Scene({
						triggerElement: $(this),
						duration: '500%',
						triggerHook: 1
					})
					.setTween(tween)
					.addTo(controller);
			});
		</script>

		<div class="jumbotron jumbotron-fluid bg-light intro mb-0">
			<div class="container">
				<h3 class="text-center mb-4">Branding</h3>
				<p class="text-center col-md-8 mb-4">Here are a few examples of brands I've worked with, creating
					various aspects of their brand identity from logo to colour palette ensuring a modern and clean
					brand image.</p>
				<div class="customer-logos">
					<div class="row">
						<div class="col-md-2 col-4 text-center">
							<img style="width: 100%;" alt="Ashfield Estate Logo"
								src="/assets/logos/ashfield-estate-logo.png">
						</div>
						<div class="col-md-2 col-4 text-center">
							<img style="width: 100%;" alt="Bells Decor Logo" src="/assets/logos/bells-decor-logo.png">
						</div>
						<div class="col-md-2 col-4 text-center">
							<img style="width: 100%;" alt="Excel Fabrications Logo"
								src="/assets/logos/excel-fabrications-logo.png">
						</div>
						<div class="col-md-2 col-4 text-center">
							<img style="width: 100%;" alt="Jurassic Wake and Ski Logo"
								src="/assets/logos/jurassic-wake-and-ski-logo.png">
						</div>
						<div class="col-md-2 col-4 text-center">
							<img style="width: 100%;" alt="Orb3D Logo" src="/assets/logos/orb-3d-logo.png">
						</div>
						<div class="col-md-2 col-4 text-center">
							<img style="width: 100%;" alt="Rachel Tapper Sports Massage Logo"
								src="/assets/logos/rachel-tapper-sports-massage-logo.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}


</body>

</html>