<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="page-wrapper">

  {% include header-alt.html %}

<div class="splash" id="hero-header" style="background-image: url({{site.baseurl}}/assets/site-post/{{page.img}}); background-size: cover;position: relative;">

  <div class="splash-video-wrapper">
      {% if page.color-1 %}
        	<div style="background-image: linear-gradient(to bottom right, #{{ page.color-1 | escape }}, #{{ page.color-2 | escape }});" class="project-image-gradient"></div>
        {% else %}
          <div style="background-image: linear-gradient(270deg,#00d0ff,#036aed);" class="project-image-gradient"></div>
      {% endif %}

    {% if page.video %}
    <video class="splash-video" playsinline="" autoplay="" muted="" loop="" poster="{{site.baseurl}}/assets/site-post/{{page.img}}" id="bgvid">
      <source class="splash-video" src="{{site.baseurl}}/assets/site-video/{{page.video}}" type="video/mp4">
    </video>
    {% endif %}

  </div>


  <div class="site-container splash-overlay">
    <div class="header-content-container">
      <div class="splash-headline">
        <h1 class="project-name">{{ page.title }}</h1>
				<p class="description">{{ page.description | escape }}</p>
        <p class="date">{{ page.date | date_to_long_string }}</p>
      </div>
    </div>
  </div>
</div>

  <div class="post">
    {{ content }}
  </div>

  <!--build:js js/main.min.js -->
  <script src="js/lib/a-library.js"></script>
  <script src="js/lib/another-library.js"></script>
  <script src="js/main.js"></script>
  <!-- endbuild -->

  </div>

{% include footer.html %}

</body>

</html>
