<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="page-wrapper">

  {% include header-alt.html %}

<div id="hero-header" style="background-image: url({{site.baseurl}}/assets/site-post/{{page.img}}); background-size: cover;">
  <div class="site-container">
    <div class="header-content-container">
      <div class="header-content">
        <h1>{{ page.title }}</h1>
				<p class="date">{{ post.date | date_to_long_string }}</p>
				<p class="description">{{ post.description | escape }}</p>
      </div>
    </div>
  </div>
</div>

  <div class="post">
    {{ content }}
  </div>

  <!--build:js js/main.min.js -->
  <script src="js/lib/a-library.js"></script>
  <script src="js/lib/another-library.js"></script>
  <script src="js/main.js"></script>
  <!-- endbuild -->

  </div>

{% include footer.html %}

</body>

</html>
